<mat-grid-list cols="3" gutterSize="16px">
    <mat-grid-tile *ngFor="let product of productsItems">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="product.img" alt="Photo of {{ product.name }}">
        <mat-card-content>
          <p class="description">{{ product.description }}</p>
          <p class="price">{{ product.price | currency:'ILS':'symbol':'1.0-0' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  